# IDE files
**/.idea
**/.DS_Store
**/.gradle

# integration test output
.test/test_framework/host/build/

# performance test reports
.test/test_framework/container/tests/reports

# track changes after tidying dependabot PRs
diff.txt
